<div class="general-container">
  <div class="header">
    <div></div>
    <%= image_tag "logo-titles.png", class: "logo-title" %>
    <h1 class="text-center mx-2">MODIFIER UN POST</h1>
    <%= image_tag "logo-titles.png", class: "logo-title"%>
    <div></div>
  </div>

  <div class="w-50 m-auto">
    <%= simple_form_for(@post) do |f| %>
      <%= f.input :title,
                  label: "Titre" %>
      <%= f.input :content,
                  label: "Description" %>
      <%= f.input :url,
                  label: "Lien vers l'article" %>
      <%= f.submit "Modifier", class: "form-btn" %>
    <% end %>
  </div>
</div>
